* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#979797;
}

body {
    min-height: 100vh;
    background-color: rgb(45, 43, 43);
    
}

.navbar {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position:sticky;
}


/* for main section */

.active-cont {
    margin-left: 200px;
}


#menu-btn {
    background-color:  #392d49;
    color: #fff;
    position: fixed;
    margin-top: 45%;
    bottom:0;
    margin-left: -11%;
}
#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #9b69e6;
}


/*for login section */

#logInCanvas{
    color:teal;
    font-size: x-large;
    text-align: left;
    padding:20px;
    margin-top: 9%;
    background-color: rgb(229, 220, 229);
    position: absolute; 
    z-index: 1;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width:500px;
    border: 3px solid black;
    border-radius: 35px;
    background-color: rgb(122, 119, 119);

}
.closeLoginBtn{
    float:right;
    padding:0px;
    border: 0px solid black;
    border-radius: 30%;
    background-color: rgb(45, 43, 43);
}
#loginContainer{
    margin:0 auto;
    height: auto;
    font-size: smaller;
    width:300px;
    border: 3px solid black;
    background-color: rgb(45, 43, 43);
    padding:20px;
    border-radius: 35px;
    box-shadow: 1px 5px 30px #faf9f9;
}
#loginContainer p{
   margin-bottom:4px;
   margin-top:8px;
}
.loginButton{
    background-color:aliceblue;
    border-radius: 6px;
    color:teal;
    width:70px;
    height: 30px;
    margin:7%; 
    font-size: smaller;
    margin-left: 70%
}

input{
    border-radius: 5px;
    color:teal;
    width:165px;
    font-size: smaller;
    height: 30px;
}
.error{
    color:red;
    font-size: small;
}

#postcard{
    max-width: 50rem;
    background-color: #392d49;
  }
@media only screen and (max-width: 600px) {
    #postcard {
      width: 20rem;
      position: static;
    }
  }
  
  .form-group{
    margin: 20px;
  }
  
  .img-fluid{
    max-width: 500px;
    margin-bottom: 6px;
  }
 
