* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
    color:black;
}

.navbar {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position:sticky;
}
/* for main section */

.active-cont {
    margin-left: 200px;
}

#menu-btn {
    background-color: #7952b3;
    color: #fff;
    position: fixed;
    margin-top: 45%;
    bottom:0;
    margin-left: -11%;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7952b344;
}


/*for login section */

#logInCanvas{
    color:teal;
    font-size: x-large;
    text-align: left;
    padding:20px;
    margin-top: 5%;
    background-color: rgb(229, 220, 229);
    position: absolute; 
    z-index: 1;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width:500px;
    border: 3px solid black;
    border-radius: 35px;

}
.closeLoginBtn{
float:right;
padding:0px;
border: 0px solid black;
    border-radius: 30%;
}
#loginContainer{
    margin:0 auto;
    height: auto;
    font-size: smaller;
    width:300px;
    border: 3px solid black;
    padding:20px;
    border-radius: 35px;
    box-shadow: 5px 10px #888888;
}
#loginContainer p{
   margin-bottom:4px;
   margin-top:8px;
}
.loginButton{
    background-color:aliceblue;
    border-radius: 6px;
    color:teal;
    width:70px;
    height: 30px;
    margin:7%; 
    font-size: smaller;
    margin-left: 70%
}

input{
    border-radius: 5px;
    color:teal;
    width:165px;
    font-size: smaller;
    height: 30px;
}
.error{
    color:red;
    font-size: small;
}

   
    @media only screen and (max-width: 600px) {
        #postcard {
          width: 20rem;
        }
      }
      #postcard{
        max-width: 50rem;
        position: static;
      }

      .form-group{
        margin: 20px;
      }
      
      .img-fluid{
        max-width: 500px;
        margin-bottom: 6px;
      }
     

